@model SudokuMVC.Models.SolverModel

@{
    ViewData["Title"] = "Sudoku Solver";
}

<center><h1>Sudoku Solver</h1></center>
<center><h3>Enter tiles below and hit solve!</h3></center>

@Html.Partial("BoardView")