<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href=@Url.Content("~/Css/Layout.css") />
    <title>@ViewBag.Title</title>
</head>

<body>

    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <button input type="submit" value="LogOff" class="button">Log Off</button>
        }
    }

    <div>
        @RenderBody()
    </div>
    <div id="bg">
        <img src="~/Css/images/bg-sudoku.jpg" alt="">
    </div>
</body>

</html>
