<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href=@Url.Content("~/Css/Layout.css") />
    <title>@ViewBag.Title</title>
</head>

<body>
    <center>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "section" }))
            {
                @Html.AntiForgeryToken()

                <button input type="submit">Log Off</button>
            }
        }
    </center>

    @RenderBody()

    <div id="bg"> <img src="~/Css/images/bg-sudoku.jpg" alt=""> </div>
</body>

</html>
