<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        form {
            border: 3px solid #f1f1f1;
            width: 50%;
            display: block;
            margin: 10px auto;
            font-family: Verdana;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 50%;
            display: block;
            margin: 10px auto;
        }

            button:hover {
                opacity: 0.8;
            }

        h2 {
            text-align: center;
            font-family: Verdana;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
